export(vertavailablemaps)
export(vertlocations)
export(vertmap)
export(vertoccurrence)
export(vertoccurrencecount)
export(vertproviders)
export(vertsearch)
export(verttaxa)
import(ggplot2)
import(httr)
import(maps)
import(plyr)
